<main role="main">
  <div class="container">
    <div class="row">
      <form [formGroup]="cityAddForm" (ngSubmit)="add()" class="">
        <h1 class="mt-3 pt-3">Add New City</h1>
        <div class="form-group">
          <input type="text" name="name" id="name" formControlName="name" class="form-control" placeholder="City Name"
            autofocus>
          <span class="help-block"
            *ngIf="cityAddForm.get('name')?.hasError('required')&& cityAddForm.get('name')?.touched">City Name is
            Required!</span>
        </div>
        <div class="form-group">
          <input type="text" name="description" id="description" formControlName="description" class="form-control"
            placeholder="Description" autofocus>
            <span class="help-block"
            *ngIf="cityAddForm.get('description')?.hasError('required')&& cityAddForm.get('description')?.touched">City Description is
            Required!</span>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!cityAddForm.valid">Add</button>
        <h6>{{cityAddForm.value|json}}</h6>
        <h6> {{cityAddForm.status|json}}</h6>
      </form>
    </div>
  </div>
</main>